/* Home css start------------------- */

#homeSec img {
  width: 100%;
  height: 100vh;
}

/* #homeSec .containerAlignSpace > div { */
#homeSec > div {
  width: 40%;
  /* height: 310px; */
  font-style: italic;
  top: 20%;
  right: 5%;
  padding: 30px 40px;
  background-color: #fff;
}

/* #homeSec .containerAlignSpace > div::after { */
#homeSec .bgWall {
  /* content: "";
  width: 106%;
  height: 106%;
  background-color: var(--background-color);
  position: absolute;
  top: -5px;
  left: -10px; */
  /* content: ""; */
  width: 500px;
  height: 300px;
  background-color: var(--background-color);
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(0, -65%);
}

/* #homeSec .containerAlignSpace > div h1 { */
#homeSec > div h1 {
  font-size: 45px;
}

/* Home css End------------------- */


/* Products css Start------------------- */

#productImages {
  padding: 20px 10px;
  text-align: center;
  background-color: var(--background-color);
}

.productImageSpace > .text-center > div {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.productImageSpace > .text-center > div p {
  margin: 0 10px;
  padding: 5px 10px;
  color: #fff;
  background-color: chocolate;
  font-weight: 600;
  border-radius: 5px;
}

.productImageSpace > .text-center > .row div div {
  padding: 10px;
  background-color: #fff;
  border-radius: 25px;
}

.productImageSpace > .text-center > .row img{
  border-radius: 25px 25px 0 0;
}

.productImageSpace > .text-center > .row h5 {
  background-color: chocolate;
  padding: 5px;
  color: #fff;
  text-wrap: wrap;
  margin-bottom: 0;
  border-radius: 0 0 25px 25px;
}

/* Products css End------------------- */

/* Owners css Start------------------- */

.OwnersMainPart {
  padding: 0;
  margin: 0;
  align-items: center;
}

.OwnersMainPart > div {
  text-align: center;
  padding: 40px 30px;
}

.OwnersMainPart > div img {
  height: 330px;
  width: 330px;
  max-width: 100%;
  border-radius: 50%;
  object-fit: fill;
}

.OwnersMainPart .infoChild {
  padding: 40px 30px;
  text-align: justify;
}

/* Owners css End------------------- */

/* About Us css Start------------------- */

#aboutUs {
  background-color: var(--background-color);
  color: #fff;
  padding: 20px 0;
}

#aboutUs img {
  width: 100%;
  /* min-height: 280px; */
  height: auto;
}

#aboutUs h5 {
  color: var(--background-color);
  font-weight: 700;
}

/* Booking Part------ */

.booking_Part {
  padding: 70px 0 30px;
}

.booking_Part .row .text-dark {
  padding: 40px 25px;
}

.booking_Part button {
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 28px;
  border: none;
  color: #ffffff;
  background-color: #000000;
}

.booking_Part button:hover {
  background-color: var(--background-color);
  color: #fff;
}

/* About Us css End------------------- */
