/* Home CSS Start */

.homeBgPart {
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/Images/portHome.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.homeBgWall {
  height: 280px;
  width: 766px;
  background-color: var(--background-color);
  position: absolute;
  top: 22%;
  right: 10%;
}

.homeOverlayPart {
  border: 1px solid white;
  background-color: #fff;
  padding: 30px 40px;
  width: 50%;
  height: auto;
  position: absolute;
  top: 16%;
  right: 14%;
  max-height: 410px;
}

.landingOverlaySpace {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
}

@media screen and (max-width: 619px) {
  .homeOverlayPart {
    padding: 30px 40px;
    /* margin: 0 auto; */
    position: relative;
    width: 260px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
  }
  .landingOverlaySpace h1 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 620px) {
  .landingOverlaySpace h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .landingOverlaySpace h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 991px) {
  .landingOverlaySpace h1 {
    font-size: 2.6rem;
  }
}

@media screen and (min-width: 1134px) {
  .landingOverlaySpace h1 {
    font-size: 60px;
  }
}

/* Home CSS End */

/* 

.our-company {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}

.our-company h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.our-company .text-content {
  margin-bottom: 20px;
}

.our-company img {
  width: 100%;
  height: auto;
}

*/
