/* Products css Start------------------- */

.product-images-section {
  padding: 20px 10px;
  text-align: center;
  background-color: var(--background-color);
}

.productImageSpace .filter-options {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.productImageSpace .filter-options p {
  margin: 0 10px;
  padding: 5px 10px;
  color: #fff;
  background-color: chocolate;
  font-weight: 600;
  border-radius: 5px;
}

#productGrid .product-item div {
  /* padding: 10px; */
  padding: 5px;
  background-color: #fff;
  border-radius: 8px;
}

#productGrid img {
  border-radius: 8px 8px 0 0;
}

.row > * {
  margin-bottom: 0;
}

.productImageSpace #productGrid h5 {
  background-color: chocolate;
  padding: 5px 0 10px;
  color: #fff;
  text-wrap: wrap;
  margin-bottom: 0;
  border-radius: 0 0 8px 8px;
}

/* Products css End------------------- */
